version: 1

formatters:
  structured:
    class: synapse.logging.TerseJsonFormatter

handlers:
  console:
    class: logging.StreamHandler
    formatter: structured
    stream: ext://sys.stdout

loggers:
  synapse.storage.SQL:
    level: INFO

root:
  level: INFO
  handlers: [console]

disable_existing_loggers: false
